<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
         Registra tu Perfil
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <center>
  <img class="icon-class ion-margin" src="./../../assets/img/perfil.png" alt="icono" height="100" width="100" />
 </center>

  <!--CARD DE DESCRIPCION DE PERFIL-->
  <ion-card>
      <ion-card-header>

          <ion-card-subtitle>Tecnología</ion-card-subtitle>
          <ion-input placeholder="Michael Acosta">Nombre:</ion-input>
          <ion-card-title></ion-card-title>
      </ion-card-header>

      <ion-card-content>
          <ion-card-subtitle>Descripccion:</ion-card-subtitle>
          <ion-textarea rows="3" value=" aca la descroccion para edicion">
          </ion-textarea>
      </ion-card-content>

      <ion-card>
        <ion-chip>
            <ion-label color="secondary">Archivo</ion-label>
            <ion-icon name="close-circle"></ion-icon>
        </ion-chip>  
    </ion-card>   
  </ion-card>
  <ion-button class="button-margin-login-class" color="warning"  expand="block" shape="round" (click)="butonAcualizar()">Actualizar</ion-button>
</ion-content>









