.ios {
    --ion-padding:30px;
  }
  
  /* Set text color of the entire app for Material Design only */
  .md {
    --ion-padding:30px;
  }

  .icon-class{
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
    display: block;
  }

  .button-margin-login-class{
    margin-top: 3rem;
  }