<div class="ion-padding">
    <img class="icon-class ion-margin" src="./../../../assets/img/avatar.png" alt="icono" height="100" width="100" />
    <ion-card>
        <ion-card-header>
            <!-- <ion-card-subtitle>Tecnología</ion-card-subtitle>
            <ion-card-title>Michael Acosta</ion-card-title> -->
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input [disabled]="!IsEditable" [(ngModel)]="user.nombre"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Telefono</ion-label>
                <ion-input [disabled]="!IsEditable" [(ngModel)]="user.telefono"></ion-input>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-card-subtitle>Descripción:</ion-card-subtitle>
            <ion-textarea rows="4" [disabled]="!IsEditable" [(ngModel)]="user.perfil">
            </ion-textarea>
        </ion-card-content>
        <ion-card>
            <ion-chip *ngFor="let chip of skills; ; let i = index" (click)="removeChip(i)">
                <ion-label color="secondary">{{chip}}</ion-label>
                <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
        </ion-card>
        <ion-card *ngIf="IsEditable">
            <ion-item>
                <ion-label position="floating">Digita tu Skill</ion-label>
                <ion-input (keyup.enter)="keyValueEvent(inputSkills.value)" #inputSkills></ion-input>
            </ion-item>
        </ion-card>
    </ion-card>
    <ion-button *ngIf="IsEditable" class="button-margin-login-class" shape="round" (click)="setProfile()">Guardar</ion-button>
</div>