<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro de Perfil
    </ion-title>
  </ion-toolbar>
  <ion-toggle [(ngModel)]="isEditable"></ion-toggle>
</ion-header>

<ion-content [fullscreen]="true" >
  <img class="icon-class ion-margin" src="./../../assets/img/perfil.png" alt="icono" height="100" width="100"/>
  
<!--CARD DE DESCRIPCION DE PERFIL-->
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <IonLabel position="stacked">Área</IonLabel>
      <IonItem>
        <IonInput readonly = "isEditable"value={text} placeholder="Enter Input" onIonChange={e => setEmail(e.detail.value!)}> </IonInput>
    </IonItem>  
    </ion-card-subtitle>
    <ion-card-title>
      <IonLabel position="stacked">Nombre</IonLabel>
      <IonItem>
        <IonInput readonly = "isEditable" value={text} placeholder="Enter Input" onIonChange={e => setText(e.detail.value!)}></IonInput>
    </IonItem>  
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <IonLabel position="stacked">Perfil</IonLabel>
    <IonItem>
      <IonInput readonly = "isEditable"value={text} placeholder="Enter Input" onIonChange={e => setText(e.detail.value!)}></IonInput>
  </IonItem>  
  </ion-card-content>


  <ion-card>
    <ion-item>
      <ion-label position="floating">Digita tu Skill</ion-label>
      <ion-input (keyup.enter)="keyValueEvent(inputSkills.value)" #inputSkills></ion-input> 
    </ion-item>
    
    <ion-chip *ngFor="let chip of skills">
      <ion-label color="secondary">{{chip}}</ion-label>
    </ion-chip>
  </ion-card>
</ion-card>


<ion-button class="button-margin-login-class"  shape="round" (click)="butonMenu()">Guardar</ion-button>

</ion-content>
